.body{
    background-color: black;
    margin: 0;
}

.post{
    width: 400px;
    height: 600px;
    margin: 0 auto;
    background-color: white;
    color:black;

}
.header{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
 .name{
    display: flex;
    gap: 10px;
 }
    

img{
    width: 400px;
    height: 300px;

}



