.body{
    background-color: black;
}

.post{
width: 400px;
height: 600px;
margin: 0% auto;
background-color: white;
color:black
}
.header{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .name{
    display: flex;
    gap: 10px;
 }

.img{
    height: 10px;
    weight: 300px;
    justify-content: center;
    align-items: center;
    
}
.random-text{
    padding: 5px;
    display:flex;
    height: 100px;
    weight:50px;
    justify-content: center;
    align-items: center;


    
}
